{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="details-products">

        <div class="links clearfix">
            <ul class="links-menu">
                <li>
                    <a href="{% url 'mainapp:catalog' 0 %}"
                       class="{% if request.resolver_match.kwargs.pk == '0' %}active{% endif %}">
                        все
                    </a>
                </li>
                {% for item in catalog_menu %}
                    <li>
                        <a href="{% url 'mainapp:catalog' item.pk %}"
                           class="{% if request.resolver_match.kwargs.pk|add:0 == item.pk %}active{% endif %}">
                            {{item.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-slider">
            <div class="slider-product">
              <img src="/media/{{ hot_product.image }}">
            </div>
				<div class="slider-control">
					<div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt="" width="70">
							<div class="text"></div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt="" width="70">
							<div class="text"></div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt="" width="70">
							<div class="text"></div>
						</a>
					</div>
				</div>
          </div>

          <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price">{{ hot_product.price }} <span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
              заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
              {{ hot_product.description }}
            </div>
        </div>
    </div>

    <div class="trending__products">
        <div class="featured__new_aux">
            <ul class="trending__products_menu">
                <li><a href="#" class="trending__products_menu_item trending__products_menu_item_active">All</a></li>
                <li><a href="#" class="trending__products_menu_item trending__produsts_stroke">Home</a></li>
                <li><a href="#" class="trending__products_menu_item trending__produsts_stroke">Office</a></li>
                <li><a href="#" class="trending__products_menu_item">Furniture</a></li>
                <li><a href="#" class="trending__products_menu_item">Modern</a></li>
                <li><a href="#" class="trending__products_menu_item">Classic</a></li>
            </ul>
        </div>
        <div class="trending__products_items">
			<div class="related-products clearfix">
				{% for element in same_products %}
					<div class="block">
						<a href="#"><img src="/media/{{ element.image }}" alt="img">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>{{ element.name }}</h4>
								<p>{{ element.short_desc }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
        </div>
        <div class="trending__products_loading"><img src="{% static 'images/loading.png' %}" alt="Loading img" class="trending__products_loading_img"></div>
    </div>
    <section class="exclusive__chair trending__products_top_offset">
        <div class="exclusive__chair_wrapper exclusive__chair_bl1">
            <p class="exclusive__chair_information_type">exclusive</p>
            <h2 class="exclusive__chair_h2">Fishnet Chair</h2>
            <p class="exclusive__chair_information">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
            <a href="#" class="button">ORDER US <img src="{% static 'images/arrow.png' %}" alt="Arrow to got to" class="button__arrow"></a>
        </div>
        <div class="exclusive__chair_wrapper exclusive__chair_bl2">
            <p class="exclusive__chair_information_type">exclusive</p>
            <h2 class="exclusive__chair_h2">Fishnet Chair</h2>
            <p class="exclusive__chair_information">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
            <a href="#" class="button">ORDER US <img src="{% static 'images/arrow.png' %}" alt="Arrow to got to" class="button__arrow"></a>
        </div>
    </section>
    <div class="clr"></div>
{% endblock %}