<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chair's shop</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="slider slider__padding simple_menu">
            <header class="header">
                <a href="/" class="link__logo"><img src="../static/images/logo.png" alt="logotip" title="logo" class="img__logo"></a>
                <nav>
                    <ul class="top__menu">
                        <li><a href="/" class="top__menu_link">HOME</a></li>
                        <li><a href="#" class="top__menu_link top__menu_link_sctive">PRODUCTS</a></li>
                        <li><a href="#" class="top__menu_link">HISTORY</a></li>
                        <li><a href="#" class="top__menu_link">SHOWROOM</a></li>
                        <li><a href="/contact/" class="top__menu_link">CONTACT</a></li>
                        <li><a href="#" class="top__menu_link"><img src="../static/images/search.png" alt="Поиск"></a></li>
                    </ul>
                </nav>
            </header>
            <h2 class="product__menu_title">Our Products Range</h2>
        </div>
        <div class="trending__products">
            <div class="featured__new_aux">
                <ul class="trending__products_menu">
                    <li><a href="#" class="trending__products_menu_item trending__products_menu_item_active">All</a></li>
                    <li><a href="#" class="trending__products_menu_item trending__produsts_stroke">Home</a></li>
                    <li><a href="#" class="trending__products_menu_item trending__produsts_stroke">Office</a></li>
                    <li><a href="#" class="trending__products_menu_item">Furniture</a></li>
                    <li><a href="#" class="trending__products_menu_item">Modern</a></li>
                    <li><a href="#" class="trending__products_menu_item">Classic</a></li>
                </ul>
            </div>
            <div class="trending__products_items">
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_1.jpg" alt="Somethink 1" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_2.jpg" alt="Somethink 2" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_3.jpg" alt="Somethink 3" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_4.jpg" alt="Somethink 4" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_5.jpg" alt="Somethink 5" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_6.jpg" alt="Somethink 6" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_1.jpg" alt="Somethink 1" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_2.jpg" alt="Somethink 2" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_3.jpg" alt="Somethink 3" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_4.jpg" alt="Somethink 4" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_5.jpg" alt="Somethink 5" class="trending__products_item"></a>
                <a href="product-details.html" class="trending__products_item_link"><img src="../static/images/trending__products/trending__products_6.jpg" alt="Somethink 6" class="trending__products_item"></a>
            </div>
            <div class="trending__products_loading"><img src="../static/images/loading.png" alt="Loading img" class="trending__products_loading_img"></div>
        </div>
        <section class="exclusive__chair trending__products_top_offset">
            <div class="exclusive__chair_wrapper exclusive__chair_bl1">
                <p class="exclusive__chair_information_type">exclusive</p>
                <h2 class="exclusive__chair_h2">Fishnet Chair</h2>
                <p class="exclusive__chair_information">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                <a href="#" class="button">ORDER US <img src="../static/images/arrow.png" alt="Arrow to got to" class="button__arrow"></a>
            </div>
            <div class="exclusive__chair_wrapper exclusive__chair_bl2">
                <p class="exclusive__chair_information_type">exclusive</p>
                <h2 class="exclusive__chair_h2">Fishnet Chair</h2>
                <p class="exclusive__chair_information">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                <a href="#" class="button">ORDER US <img src="../static/images/arrow.png" alt="Arrow to got to" class="button__arrow"></a>
            </div>
        </section>
        <div class="clr"></div>
    </div>
    <footer class="footer">
        <div class="footer__wrap footer__wrap_top">
            <div class="footer__item footer__item_grow0">
                <h3 class="footer__item_title">Contact Us</h3>
                <p class="footer__item_p_slim">
                    132A Bridge Road Richmond VIC
                    Australia.
                </p>
                <p class="footer__item_p_slim">
                    Talk to us on 1300 132
                    <br>
                    <a href="mailto:info@interior.com" class="email">info@interior.com</a>
                </p>
            </div>
            <div class="footer__item footer__item_grow1">
                <h3 class="footer__item_title">Useful Information</h3>
                <div class="footer__item_wrap">
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Sales terms</a></div>
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Customer care</a></div>
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Delivery</a></div>
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Architect accounts</a></div>
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Careers</a></div>
                    <div class="footer__item_wrap_a"><a href="#" class="footer__item_useful_a">Exchanges &amp; returns</a></div>
                </div>
            </div>
            <div class="footer__item footer__item_grow1">
                <h3 class="footer__item_title">Let’s Stay in Touch!</h3>
                <p class="footer__item_p_slim">
                    Suscribe to know about our latest news, products and special offers just for suscribers.
                </p>
                <input type="email" placeholder="your email address" class="input_yor_email">
            </div>
        </div>
        <div class="footer__wrap footer__wrap_bottom">
            <div class="footer__item">
                <p class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
            </div>
            <div class="footer__item">
                <a href="#" class="footer__item_asoc"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="footer__item_asoc"><i class="fab fa-twitter"></i></a>
                <a href="#" class="footer__item_asoc"><i class="fab fa-goodreads-g"></i>+</a>
                <a href="#" class="footer__item_asoc"><i class="fab fa-pinterest-p"></i></a>
            </div>
            <div class="footer__item">
                <a href="#" class="footer__item_terms">Terms &amp; Conditions</a> / <a href="#" class="footer__item_terms">Privacy policy &amp; Cookies</a>
            </div>
        </div>
    </footer>
</body>

</html>
