{% block menu %}
    <div class="slider slider__padding slider_top">
        <header class="header">
            <a href="/" class="link__logo"><img src="static/images/logo.png" alt="logotip" title="logo" class="img__logo"></a>
            <nav>
                <ul class="top__menu">
                    <li><a href="/" class="top__menu_link top__menu_link_sctive">HOME</a></li>
                    <li><a href="{% url 'mainapp:products' %}" class="top__menu_link">PRODUCTS</a></li>
                    <li><a href="{% url 'contact' %}" class="top__menu_link">CONTACT</a></li>

                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth:edit' %}" class="top__menu_link">
                            {{ user.first_name|default:'ПОЛЬЗОВАТЕЛЬ' }}
                        </a>
                    </li>
                    {% endif %}
                    <li>

                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth:register' %}" class="top__menu_link">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                    </li>

                    {% endif %}
                    <li>
                        {% if user.is_authenticated %}
                          <a href="{% url 'auth:logout' %}" class="top__menu_link">ВЫЙТИ</a>
                        {% else %}
                          <a href="{% url 'auth:login' %}" class="top__menu_link">ВОЙТИ</a>
                        {% endif %}
                    </li>

                    <li><a href="#" class="top__menu_link"><img src="static/images/search.png" alt="Поиск"></a></li>
                    <li>
                        {% if user.is_authenticated and basket %}
                        <a href="{% url 'basket:index' %}" class="basket">
                          <span>
                              {{ basket.0.total_cost|floatformat:0 }} руб
                              ({{ basket.0.total_quantity }} шт)
                          </span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <div class="slider__discription">
            <p class="slider__discription_information_type">TRENDING</p>
            <h2 class="slider__description_h2">Fishnet Chair</h2>
            <p class="slider__discription_information">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
            <a href="#" class="button">ORDER US <img src="static/images/arrow.png" alt="Arrow to got to" class="button__arrow"></a>
        </div>
        <div class="slider__btn">
            <a href="#" class="slider_btn_link"></a>
            <a href="#" class="slider_btn_link slider_btn_link_active"></a>
            <a href="#" class="slider_btn_link"></a>
        </div>
    </div>
{% endblock %}